.new-app {
    .lk-main__title {
        @media screen and (max-width: 992px){
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
        margin-top: 25px;        
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .form-group {
            width: 48%;
            position: relative;
            margin-bottom: 15px;
            @media screen and (max-width: 992px){
                width: 100%;                
            }
            input {
                width: 100%;
                border: none;
                border-bottom: 1px solid #bcbcbc;
                padding: 6px 10px 10px;
                transition: border .25s;
                background: transparent;
                &.datepicker-here {
                  margin-bottom: 0;
                }
                &:hover {
                  border-bottom: 1px solid $accent;
                }
                &:focus {
                  border-bottom: 1px solid $accent;
                  &+label {
                    top: -12px;
                    font-size: 12px;
                    color: #000;
                    font-weight: 600;
                  }
                }                          
            }
            label {
                position: absolute;
                top: 6px;
                left: 10px;
                font-size: 14px;
                color: #bcbcbc;
                pointer-events: none;
                transition: all .25s;
                span {
                  color: red;
                  margin-left: 2px;
                }
            }
            &.way {
                &:after {
                  content: '';
                  display: block;
                  position: absolute;
                  top: 13px;                
                  right: 15px;                
                  width: 0;
                  height: 0;
                  border-left: 7px solid transparent;
                  border-right: 7px solid transparent;
                  border-top: 7px solid #565656;
                  z-index: 10;
                  cursor: pointer;
                }
                .select-wrapp {
                  display: none;
                  position: absolute;
                  width: 100%;
                  top: 31px;
                  left: 0;
                  background: #fff;
                  padding: 10px;
                  border-bottom-left-radius: 10px;
                  border-bottom-right-radius: 10px;
                  border: 1px solid #c7c7c7;
                  border-top: none;
                  z-index: 11;
                }
                .select-list {
                  max-height: 240px;
                  overflow-y: auto;                
                  &::-webkit-scrollbar { 
                    width: 5px;                  
                  }
                  &::-webkit-scrollbar-track {					
                      border-radius: 4px;
                      background: #aaa;                    				
                  }
                  /* Handle */
                  &::-webkit-scrollbar-thumb {
                      background: #404040;
                      border-radius: 5px;
                  }
                  /* Handle on hover */
                  &::-webkit-scrollbar-thumb:hover {
                      background: darken(#404040, 10%);
                  }
                  &__item {
                    padding: 5px 0;
                    cursor: pointer;
                    &:hover {
                      span {
                        color: #000;
                        font-weight: 600;
                        &:before {
                          bottom: -1px;
                          opacity: 1;
                        }
                      }
                    }
                    &:last-child {
                      margin-bottom: 0;
                    }
                    span {
                      color: #565656;                    
                      transition: .25s;
                      position: relative;
                      &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: -5px;
                        width: 100%;
                        height: 1px;
                        background: #000;
                        opacity: 0;
                        transition: .25s;
                      }
                    }
                  }
                }
                input {
                  caret-color: transparent;
                  border: 1px solid transparent;
                  border-bottom: 1px solid #bcbcbc;
                  transition: .25s;
                  cursor: pointer;
                  &:focus {
                    background: #fff;
                    caret-color: transparent;
                    border: 1px solid #c7c7c7;
                    border-bottom: 1px solid transparent;
                    &+label {
                      top: 6px;
                      font-size: 14px;
                      color: #565656;
                      font-weight: 400;
                      span {
                        opacity: 0;
                      }
                    }
                  }
                  &:focus:hover {
                    border-bottom: 1px solid transparent;
                  }
                  &:hover {
                    border-bottom: 1px solid $accent;
                  }
                }              
            }
        }
        .form-amount {
            display: flex;
            justify-content: space-between;
            width: 100%;
            @media screen and (max-width: 576px){
              flex-direction: column;
            }
            .form-block {
              position: relative;
              width: 50%;
              border-bottom: 1px solid #bcbcbc;
              padding: 15px 10px;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              padding-bottom: 25px;
              @media screen and (max-width: 576px){
                width: 100%;
              }
              label {
                font-size: 12px;
                color: #000;
                pointer-events: none;
                font-weight: 600;
                @media screen and (max-width: 576px){
                  text-align: center;
                }
                span {
                  color: red;
                  margin-left: 2px;
                }
              }
              .count-input {
                background: transparent;
                border: none;
                text-align: center;
                width: 50%;
                display: block;
                font-size: 16px;
                pointer-events: none;
                display: block;
                margin-top: 15px;
                @media screen and (max-width: 576px){
                  width: 100%;
                }
              }
              .count {
                position: absolute;
                top: 45%;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                border: 1px solid #060606;
                font-size: 24px;                
                color: #060606;
                background: transparent;
                cursor: pointer;
                span {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%,-50%);
                }
                &.disable {
                  opacity: 0.4;
                  cursor: auto;
                }
              }
              .plus {
                right: 50%;
                @media screen and (max-width: 576px){
                  right: 30%;
                }               
              }
              .minus {
                left: 10px;
                @media screen and (max-width: 576px){
                  left: 30%;
                }
                span {
                  top: 45%;
                }             
              }
            }
        }
        .fecility-cat {
            font-size: 15px;
            font-weight: 600;
            text-decoration: underline;
        }
    }
    &__btn {
        width: 250px;
        margin: 0 auto;
        margin-top: 25px;
    }
}