* {
  font-family: Montserrat;
}
.main {
  position: relative;
  padding-bottom: 60px;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  &.mainDashboard {
    padding-bottom: 0;
  }
  main {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}
h1 {
  font-size: 30px;
  font-weight: 500;
  margin: 50px 0;
  @media (max-width: 767px) {
    font-size: 22px;
    margin: 40px 0 15px;
  }
}
.btn {
  &.btn-lg {
    font-size: 16px;
    font-weight: bold;
    padding: 1rem 2rem;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
  &.btn-light {
    background-color: white;
    border: 1px solid #dbdbdb;
    font-weight: normal;
    color: #818181;
  }
}
#map {
  height: 400px;
  box-shadow: 0 0 31.15px 3.85px rgba(0,0,0,.15);
  margin: 4rem 0 0;
  overflow: hidden;
  @media (max-width: 575px) {
    margin: 3rem 0 0;
  }
  section.ymap-container {
    height: 100%;
    .map {
      height: 100%;
    }
  }
}
.topNavBg {
  // background-color: white;
  // box-shadow: 0 8px 14.72px 1.28px rgba(0, 0, 0, 0.3);
}