@import 'landings.scss';

* {
  font-family: Montserrat;
}
.main {
  position: relative;
  padding-bottom: 60px;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  &.mainDashboard {
    padding-bottom: 0;
  }
  main {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}
h1 {
  font-size: 30px;
  font-weight: 500;
  margin: 50px 0;
  @media (max-width: 767px) {
    font-size: 22px;
    margin: 40px 0 15px;
  }
}
.btn {
  &.btn-lg {
    font-size: 16px;
    font-weight: bold;
    padding: 1rem 2rem;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
  &.btn-light {
    background-color: white;
    border: 1px solid #dbdbdb;
    font-weight: normal;
    color: #818181;
  }
}
#map {
  height: 400px;
  box-shadow: 0 0 31.15px 3.85px rgba(0, 0, 0, 0.15);
  margin: 4rem 0 0;
  overflow: hidden;
  @media (max-width: 575px) {
    margin: 3rem 0 0;
  }
  section.ymap-container {
    height: 100%;
    .map {
      height: 100%;
    }
  }
}
.topNavBg {
  // background-color: white;
  // box-shadow: 0 8px 14.72px 1.28px rgba(0, 0, 0, 0.3);
}

.form-group-wrap {
  margin-bottom: 25px;
  border-radius: 8px;
  border: 1px solid #eaeaea;
  // border: 1px solid red;
  padding: 10px 5px;
  display: grid;
  // grid-gap: 1px;
  // background-color: #f0f0f0;
  .form-group {
    margin: 0;
    padding: 10px;
    border-left: 1px solid #f0f0f0;
    &:first-child {
      border-left: none;
    }
    label {
      // background-color: white;
      margin: 0;
      color: #818181;
      font-size: 14px;
      padding: 0;
    }
    .bv-no-focus-ring {
      display: flex;
      input.form-control {
        // background-color: red;
        border-radius: 0;
        border: none;
        padding: 0;
        height: auto;
        font-size: 16px;
        font-weight: 600;
        box-shadow: none;
      }
      textarea.form-control {
        // background-color: red;
        border-radius: 0;
        border: none;
        padding: 0;
        height: auto;
        font-size: 16px;
        font-weight: 500;
      }
      select {
        // background: red;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        border: none;
        padding: 0;
        height: auto;
        font-size: 16px;
        font-weight: 600;
        box-shadow: none;
        &:disabled {
          background: none;
        }
      }
    }
  }
}
