#map {
  height: 297px;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  overflow: hidden;
  .map {
    width: 100%;
    height: 295px;
  }
}
ul.nav-tabs {
  margin-bottom: 1rem;
}
.removeUser {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropzone {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  padding: 0.5rem;
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(1, 1fr);
  grid-gap: 0.5rem;
  margin-bottom: 1rem;
  &.dz-started {
    grid-template: repeat(1, 1fr) / repeat(5, 1fr);
  }
  .dz-message {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      display: block;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
  .dz-preview {
    margin: 0;
    .dz-image {
      img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
      }
    }
  }
}
