.viewPassword {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-left: none;
  border-color: #ced4da;
  &.viewPasswordActive {
    svg {
      stroke: #007BFF;
    }
  }
  svg {
    stroke: #cccccc;
  }
}
.profileEdit {
  padding-bottom: 70px;
  .wrap {
    display: grid;
    grid-template-columns: 260px repeat(3, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-gap: 25px;
    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(10, auto);
    }
    @media (max-width: 575px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap: 20px;
    }
    .wrapTitle1, .wrapTitle2 {
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;
    }
    .wrapTitle1 {
      grid-column: 2/5;
      grid-row: 1/2;
      @media (max-width: 991px) {
        grid-column: 1/3;
        grid-row: 2/3;
      }
      @media (max-width: 575px) {
        grid-column: 1/2;
        grid-row: 2/3;
      }
    }
    .wrapCard {
      grid-column: 1/2;
      grid-row: 2/8;
      @media (max-width: 991px) {
        grid-column: 1/3;
        grid-row: 1/2;
      }
      @media (max-width: 575px) {
        grid-column: 1/2;
        grid-row: 1/2;
      }
      .userCard {
        padding: 25px;
        border: 1px solid #eaeaea;
        border-radius: 8px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 25px;
        @media (max-width: 991px) {
          grid-template-columns: 1fr auto;
          grid-template-rows: 1fr;
        }
        @media (max-width: 575px) {
          grid-template-columns: 1fr;
          grid-template-rows: auto auto;
        }
        .link {
          border-radius: 20px;
          line-height: 40px;
          border: 1px solid #dbdbdb;
          font-size: 12px;
          font-weight: 500;
          text-align: center;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #333;
          text-decoration: none;
          padding: 0 25px;
          svg {
            margin-right: 8px;
          }
        }
        .avatar {
          /deep/ .dz-message {
            .dropzone-custom-content {
              display: grid;
              grid-template-columns: 1fr;
              grid-template-rows: 208px auto;
              grid-gap: 25px;
              @media (max-width: 991px) {
                grid-template-columns: 150px 1fr;
                grid-template-rows: 1fr;
                border-right: 1px solid #f0f0f0;
              }
              @media (max-width: 575px) {
                grid-template-columns: 1fr;
                grid-template-rows: 150px;
                grid-gap: 20px;
                border: none;
              }
              .image {
                background-color: #dbdbdb;
                border-radius: 50%;
                overflow: hidden;
                @media (max-width: 575px) {
                  width: 150px;
                  margin: 0 auto;
                }
                .ico {
                  position: relative;
                  width: 100%;
                  height: 100%;
                  cursor: pointer;
                  svg {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    padding: 25%;
                    stroke: white;
                  }
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                  .spinner {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                  }
                }
              }
              .link {
                @media (max-width: 991px) {
                  display: none;
                }
              }
            }
          }
        }
        .line {
          height: 1px;
          background-color: #f0f0f0;
          @media (max-width: 991px) {
            display: none;
          }
        }
        .payment {
          @media (max-width: 991px) {
            display: flex;
            align-items: center;
          }
          @media (max-width: 575px) {
            justify-content: center;
          }
          .link {
            margin-bottom: 0;
          }
          .usercard {
            margin-top: 25px;
            height: 45px;
            // background: #cccccc;
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: 1fr auto;
            position: relative;
            @media (max-width: 991px) {
              margin-top: 0;
            }
            &__title {
              // background: #ced4da;
              grid-row: 1/2;
              grid-column: 1/2;
              font-size: 14px;
              line-height: 20px;
            }
            &__number {
              // background: #ced4da;
              grid-row: 2/3;
              grid-column: 1/2;
              font-size: 16px;
              line-height: 25px;
              font-weight: bold;
              @media (max-width: 991px) {
                padding-right: 30px;
              }
            }
            &__remove {
              grid-row: 1/3;
              grid-column: 2/3;
              display: flex;
              align-items: center;
              svg {
                width: 20px;
                height: 20px;
                border: 1px solid #dbdbdb;
                border-radius: 50px;
                stroke: #dbdbdb;
                cursor: pointer;
                // margin: 10px;
              }
            }
            &__ico {
              position: absolute;
              top: 0;
              right: 30px;
              z-index: -1;
              svg {
                display: block;
              }
            }
          }
        }
      }
    }
    .wrapLastname {
      grid-column: 2/3;
      grid-row: 2/3;
      @media (max-width: 991px) {
        grid-column: 1/2;
        grid-row: 3/4;
      }
      @media (max-width: 575px) {
        grid-column: 1/2;
        grid-row: 3/4;
      }
    }
    .wrapFirstname {
      grid-column: 3/4;
      grid-row: 2/3;
      @media (max-width: 991px) {
        grid-column: 2/3;
        grid-row: 3/4;
      }
      @media (max-width: 575px) {
        grid-column: 1/2;
        grid-row: 4/5;
      }
    }
    .wrapMiddlename {
      grid-column: 4/5;
      grid-row: 2/3;
      @media (max-width: 991px) {
        grid-column: 1/2;
        grid-row: 4/5;
      }
      @media (max-width: 575px) {
        grid-column: 1/2;
        grid-row: 5/6;
      }
    }
    .wrapBirthday {
      grid-column: 2/3;
      grid-row: 3/4;
      @media (max-width: 991px) {
        grid-column: 2/3;
        grid-row: 4/5;
      }
      @media (max-width: 575px) {
        grid-column: 1/2;
        grid-row: 6/7;
      }
    }
    .wrapPhone {
      grid-column: 3/4;
      grid-row: 3/4;
      @media (max-width: 991px) {
        grid-column: 1/2;
        grid-row: 5/6;
      }
      @media (max-width: 575px) {
        grid-column: 1/2;
        grid-row: 7/8;
      }
    }
    .wrapEmail {
      grid-column: 4/5;
      grid-row: 3/4;
      @media (max-width: 991px) {
        grid-column: 2/3;
        grid-row: 5/6;
      }
      @media (max-width: 575px) {
        grid-column: 1/2;
        grid-row: 8/9;
      }
    }
    .wrapButtonUpdate {
      grid-column: 2/5;
      grid-row: 4/5;
      @media (max-width: 991px) {
        grid-column: 1/3;
        grid-row: 6/7;
      }
      @media (max-width: 575px) {
        grid-column: 1/2;
        grid-row: 9/10;
      }
    }
    .wrapTitle2 {
      grid-column: 2/5;
      grid-row: 5/6;
      padding-top: 25px;
      @media (max-width: 991px) {
        grid-column: 1/3;
        grid-row: 7/8;
      }
      @media (max-width: 575px) {
        grid-column: 1/2;
        grid-row: 10/11;
      }
    }
    .wrapPassword1 {
      grid-column: 2/3;
      grid-row: 6/7;
      @media (max-width: 991px) {
        grid-column: 1/3;
        grid-row: 8/9;
      }
      @media (max-width: 575px) {
        grid-column: 1/2;
        grid-row: 11/12;
      }
    }
    .wrapPassword2 {
      grid-column: 3/4;
      grid-row: 6/7;
      @media (max-width: 991px) {
        grid-column: 1/2;
        grid-row: 9/10;
      }
      @media (max-width: 575px) {
        grid-column: 1/2;
        grid-row: 12/13;
      }
    }
    .wrapPassword3 {
      grid-column: 4/5;
      grid-row: 6/7;
      @media (max-width: 991px) {
        grid-column: 2/3;
        grid-row: 9/10;
      }
      @media (max-width: 575px) {
        grid-column: 1/2;
        grid-row: 13/14;
      }
    }
    .wrapButtonPassword {
      grid-column: 2/5;
      grid-row: 7/8;
      @media (max-width: 991px) {
        grid-column: 1/3;
        grid-row: 10/11;
      }
      @media (max-width: 575px) {
        grid-column: 1/2;
        grid-row: 14/15;
      }
    }
  }
}